!!! 5
html
  head
    title Super Secret Bro Land
    meta(http-equiv='Content-type',content='text/html;charset=UTF-8')
    meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet',href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
  body
    .container
      h1 Admin Panel

      h3 Background Images
      .panel.panel-default
        table.table.table-striped
          thead
            tr
              th Name
              th Original
              th Blurred
              th Operation
          tbody
            each background in backgrounds
              tr
                th= background.name
                td
                  a(href=background.original_url,target="_blank")
                    img(width="200",height="200",src=background.original_url)
                td
                  a(href=background.blurred_url,target="_blank")
                    img(width="200",height="200",src=background.blurred_url)
                td
                  form.form-horizontal(action="/db/backgrounds/#{background.name}/update",method="POST")
                    .form-group
                      label.col-sm-2.control-label Position:
                      .col-sm-10
                        input.form-control(type="text",name="position",value=background.position)
                    .form-group.text-center
                      button.btn.btn-default(type="submit") Update
                  form.form-horizontal(action="/db/backgrounds/#{background.name}/delete",method="POST")
                    .form-group.text-center
                      button.btn.btn-default(type="submit") Delete
        .panel-body
          form.form-horizontal(action="/db/backgrounds/create",method="POST")
            .form-group
              label.col-sm-2.control-label(for="name") Name:
              .col-sm-10
                input.form-control#name(type='text',name="name",placeholder="Name")
            .form-group
              label.col-sm-2.control-label(for="position") Position:
              .col-sm-10
                input.form-control#position(type='text',name="position",placeholder="Position")
            .form-group.text-center
              button.btn.btn-default(type="submit") Add Photo


