doctype html
html
  head
    title Ankit Sardesai
    meta(http-equiv='Content-type',content='text/html;charset=UTF-8')
    meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet',href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    != css('bootstrap')
    != css('master')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
    script(type='text/javascript',src='//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.2/waypoints.min.js')
    != js('bootstrap')
    != js('modernizr')
  body
    .backgrounds(data-bg-initial=background.name)
      .background(style="background-image:url('#{background.url}');background-position:#{background.position};")
      .photo-details
        .left= background.photo_name
        .right= background.location
    script#tpl-background(type="text/template")
      .background.next(style!="background-image:url('<%= url %>');background-position:<%= position %>;")
      .photo-details.next
        .left <%= photo_name %>
        .right <%= location %>
    section#top
      .center-container
        .main-box
          h3 Ankit Sardesai
          h6 <em>software</em> developer
          h6 <em>architecture</em> aficionado
          h6 amateur <em>photographer</em>
          .icons
            a.instagram.fa.fa-instagram(href="https://instagram.com/amsardesai",title="@amsardesai",data-ga-label="Instagram")
            a.github.fa.fa-github-alt(href="https://github.com/amsardesai",title="@amsardesai",data-ga-label="GitHub")
            a.fa.fa-file-pdf-o(href="/resume",title="My R&eacute;sum&eacute;",data-ga-label="Resume")
            a.fa.fa-envelope(href="mailto:me@ankitsardesai.ca",title="me at ankitsardesai dot ca",data-ga-label="Email")
            a.linkedin.fa.fa-linkedin(href="https://www.linkedin.com/in/amsardesai",title="Ankit Sardesai",data-ga-label="LinkedIn")
      a.show-photos.fa.fa-camera(href="#",title="Photo Details")

    script.
      !function(a,b,c,d,e,f,g){a.GoogleAnalyticsObject=e,a[e]=a[e]||function(){(a[e].q=a[e].q||[]).push(arguments)},a[e].l=1*new Date,f=b.createElement(c),g=b.getElementsByTagName(c)[0],f.async=1,f.src=d,g.parentNode.insertBefore(f,g)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-37589348-3","auto"),ga("send","pageview");
    != js('master')

